#modal img{
    width: 100%; 
    top:0; 
    bottom: 0;
 
}

#close{
    top:0;
    right: 0;
    position: absolute;
    margin: 1em;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#close:hover{
    background-color: black;
}
